# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Optional cache files
.cache/
.tmp/
*.swp

# IDEs y editores
.vscode/
.idea/
.DS_Store

# Sistema operativo
Thumbs.db
